/* -------- BACkEND ------*/

.back {
	position: absolute;
	top: 10px;
	left:10px;
	background:white;
	padding:10px;
	border-radius:10px;
}

.home-admin {
	margin-top: 100px;
	text-align: center;
}
.home-admin h1 {
	margin-bottom: 100px;
}

.home-admin p {
	font-size: 1.5em;
}

.container-backend {
	display: flex;
	min-height: 970px;
}

.container-backend nav {
	background-color: rgba(0,0,0,0.5);
	width:20%;
  	height: 36%;
	border-bottom-left-radius: 20px;
}
.container-backend nav a {
	display: block;
	background-color:rgba(255,255,255,0.6);
	font-family:arial;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	border-bottom: 3px solid black;
	border-bottom-left-radius: 20px;
	height: 30px;
}

.backend-content {
	background-color: white;
	width:80%;		
}
.backend-title {
	font-family: 'Lobster';
	font-size: 2.5em;
	text-align: center;
	margin-top:110px;
}

.backend-nav-deco-square {
	height: 120px;
	background-color:rgba(0,0,0,0.5);
}

.backend-bt {
	background: rgba(0,0,0,0.7);
	margin-left:20px;
	color: white;
}

.title-field {
	height: 30px;
	width: 700px;
	margin-left: 20px;
}

.creation-label {
  	margin-left: 20px;
	font-size: 1.2em;
}

h2 {
	 margin: 20px;
}


/*Affichage des tableaux */

table {
	border-collapse: collapse;
	margin:20px auto;
}

th {
	border: solid;
	padding: 10px;
}

td {
	border:solid black 1px;
	border-collapse: collapse;
	padding: 10px;
}
td:nth-child(odd) {
	background:#e2e2e2;
}
td a {
  display: flex;
	justify-content: center;
}